@inherits UmbracoEshopViewPage
@using UmbracoEshop.lib.Models
@using UmbracoEshop.lib.Repositories
@{
    MembershipUser user = /*Umbraco.MemberIsLoggedOn() ? */System.Web.Security.Membership.GetUser();
    bool addSeparator = false;
}

@if (user != null)
{
    <div class="protected-menubar">
        <nav class="navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-protected" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="title">@user.UserName</div>
        </nav>
        <div id="navbar-protected" class="collapse navbar-collapse">
            <div class="menu">
                @if (System.Web.Security.Roles.IsUserInRole(user.UserName, UmbracoEshopMemberRepository.UmbracoEshopMemberAdminRole))
                {
                    @*<ul class="admin-menu">
                        <li><a href="#more-settings" data-toggle="collapse">Nastavenia</a></li>
                    </ul>*@
                    @*<div id="more-settings" class="collapse more-settings">
                        <ul class="admin-menu">
                            <li><a href="@Url.Content("~/umbraco")">Správa obsahu webu</a></li>
                        </ul>
                        <div class="separator"></div>
                        <ul class="admin-menu">
                            <li><a href="@Url.Content("~/clenska-sekcia/nastavenia")">Nastavenia</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/krajiny")">Krajiny</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/sposoby-dopravy")">Spôsoby dopravy</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/sposoby-platby")">Spôsoby platby</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/stavy-objednavky")">Stavy objednávky</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/stavy-uhrady")">Stavy úhrady</a></li>
                        </ul>
                        <div class="separator"></div>
                        <ul class="admin-menu">
                            <li><a href="@Url.Content("~/clenska-sekcia/dostupnost-produktov")">Dostupnosť produktov</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/vlastnosti-produktov")">Vlastnosti produktov</a></li>
                        </ul>
                        <div class="separator"></div>
                        <ul class="admin-menu">
                            <li><a href="@Url.Content("~/clenska-sekcia/uzivatelia")">Užívatelia</a></li>
                            <li><a href="@Url.Content("~/clenska-sekcia/zakaznici")">Zákazníci</a></li>
                        </ul>
                    </div>*@

                    <div class="separator"></div>
                    <ul class="admin-menu">
                        <li><a href="@Url.Content("~/clenska-sekcia/vyrobcovia")">Výrobcovia</a></li>
                        <li><a href="@Url.Content("~/clenska-sekcia/produkty")">Produkty</a></li>
                        @*<li><a href="@Url.Content("~/clenska-sekcia/kategorie")">Kategórie</a></li>*@
                    </ul>
                    @*<div class="separator"></div>
                    <ul class="admin-menu">
                        <li><a href="@Url.Content("~/clenska-sekcia/objednavky")">Objednávky</a></li>
                    </ul>*@
                    addSeparator = true;
                }
                @if (System.Web.Security.Roles.IsUserInRole(user.UserName, UmbracoEshopMemberRepository.UmbracoEshopMemberCustomerRole))
                {
                    if (addSeparator)
                    {
                        <div class="separator"></div>
                    }
                    <ul class="customer-menu">
                        <li><a href="@Url.Content("~/clenska-sekcia/moje-heslo")">Zmena hesla</a></li>
                        <li><a href="@Url.Content("~/clenska-sekcia/moje-osobne-udaje")">Moje osobné údaje</a></li>
                        <li><a href="@Url.Content("~/clenska-sekcia/moje-objednavky")">Moje objednávky</a></li>
                    </ul>
                }

            </div>
            @using (Html.BeginUmbracoForm<UmbracoEshop.lib.Controllers.MemberController>("Logout", null, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="logout-btn">
                    <a href="#" onclick="document.getElementById('submitProtectedLogoutButton').click(); return false;"class="btn btn-primary btn-lg">ODHLÁSIŤ</a>
                    <input type="submit" id="submitProtectedLogoutButton" class="hidden" />
                </div>
            }
        </div>
    </div>
}

