@using UmbracoEshop.lib.Models
@model VyrobokPagingListModel



<h1>VÝROBKY</h1>

@foreach (VyrobokModel vyrobok in Model.Items)
{
<div class="public-product">
    Kód: @vyrobok.KodVyrobku
    <br />
    Názov: @vyrobok.NazovVyrobku
    <br />
    Cena: @vyrobok.CenaVyrobkuAMena()
    <div class="product-description">

        @Html.Raw(vyrobok.PopisVyrobku)

    </div>
    <br />
    <div>
        <a href="#" onclick="pridatDoKosika(); return false;" data-vyrobok="@vyrobok.pk">Pridať do košíka</a>
    </div>


</div>                
}
<script>
    function pridatDoKosika() {
        var param = " ";

        $.ajax('/Umbraco/UmbracoEshop/QuoteApi/AddProductToQuote?=id'+param,
            {
                type: 'POST',
                success: function (data) {
                    alert(data);
                }
            });
    }
</script>